@media (min-width: 992px) {
  .container{
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

//Tablet styles

@media (max-width: 992px) and (min-width: 769px) {
  .navbar{
    .wrap{
      width: 950px;
      .navbar-header{
        float: left;
        .brand{
          padding: 10% 0 0 0;
        }
      }
      .navbar-collapse.collapse{
        display: block !important;
        width: 100%;
        margin-right: 5%;
      }
    }
  }
}

//Mobile styles

@media (max-width: 768px) {
  .navbar{
    .wrap{
      width: 950px;
      .navbar-header{
        float: left;
        .brand{
          padding: 10% 0 0 0;
        }
      }
    }
  }
}
